extends layout

block content
    .row
        .col-2
        .col-8
            h1 #{title}
            ul.list-group
            each article in articles
                li.list-group-item
                    a(href="/article/"+article._id)=article.title