doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title App
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/articles') Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/articles/add') Add Article
                ul.nav.nav-navbar.navbar-right
                    if user
                        li.nav-item 
                            a.nav-link(href='/users/logout') Logout
                    else
                        li.nav-item
                            a.nav-link(href='/users/register') Register
                        li.nav-item
                            a.nav-link(href="/users/login") Login                        
        .container
        block content
        br
        hr
        footer.fixed-bottom
            p.text-center.alert-info Copyright &copy; 2020
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="/js/main.js")