extends layout

block content
    .row
        .col-2
        .col-8
            h1 #{title}
            form(action="/users/login", method="post")
                #form-group
                    label Name:
                    input.form-control(type="text", name="username")
                #form-group
                    label Password:
                    input.form-control(type="password", name="password")
                input.btn.btn-primary(type="submit", value="Save")

        .col-2

        